* {
    margin: 0px;
    padding: 0px;
}

.a1 {
    background-color: rgb(84, 86, 82);
    height: 27px;
    padding: 0%;
}

.b1 {
    height: 27px;
    width: 473px;
    display: flex;
    justify-content: space-around;
}

.b2 {
    height: 27px;
    display: flex;
    position: absolute;
    right: 12px;
    top: 1px;
}

.wl {
    display: block;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    /* padding-top: 0px; */
    top: -5px;
    padding: 10px;
    color: rgb(218, 218, 218);
}

a:hover {
    color: white;
}

#loginOrRegist {
    display: block;
}

.ext {
    position: relative;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    font-size: 13px;
    height: 75px;
    width: 80px;
    float: right;
    right: 20px;
    z-index: 1;
}

.exts {
    top: 10px;
    position: relative;
    padding: 5px;
    margin: 0;
    bottom: 10px;
}

#myhome:hover {
    background-color: rgb(246, 246, 246);
}

#logout:hover {
    background-color: rgb(246, 246, 246);
}

#myhome {
    display: flex;
    justify-content: center;
}

#logout {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.a2 {
    height: 120px;
    background-color: rgb(240, 243, 245);
}

.b3 {
    position: relative;
    left: 250px;
    top: 20px;
    width: 670px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

#p1 {
    position: relative;
    /* top: 20px; */
    height: 35px;
    /* left: 200px; */
    display: block;
}

.c1 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

#search {
    position: relative;
    display: block;
    width: 450px;
    height: 10px;
    outline: none;
    padding: 10px;
    border: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 2px solid rgb(210, 210, 210);
}

#searchBt {
    height: 32px;
    width: 35px;
    outline: none;
    border: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(139, 149, 158);
}

#p2 {
    position: relative;
    height: 16px;
    top: 1px;
}

.focus ul li {
    list-style: none;
    float: left;
}

.focus ul {
    width: 1000px;
    height: auto;
}

.focus {
    top: 20px;
    position: relative;
    width: 270px;
    left: 250px;
    height: 400px;
}

.a2 span {
    position: relative;
    color: rgb(34, 119, 170);
    top: 50px;
    left: 252px;
}

.a2 span:hover {
    background-color: rgb(34, 119, 170);
    color: aliceblue;
}

.rank {
    position: relative;
    margin-top: 50px;
    margin-right: 300px;
    float: right;
    width: 220px;
    height: 400px;
    /* border-left: 1px solid rgb(207, 207, 207); */
    /* background-color: aqua; */
}

.ranklist hr {
    margin-top: 10px;
}

.ranklist div span {
    margin-left: 10px;
}

#title {
    color: rgb(34, 119, 170);
}

#title:hover {
    color: aliceblue;
    background-color: rgb(34, 119, 170);
}